.main-layout-body {
  height: 100dvh;

  @include mobile-medium {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .main-layout-content {
    display: flex;
    flex-direction: column;

    .main-layout-children {
      padding: 12px;
      overflow-y: overlay;
      min-height: 80dvh;

      @include mobile-medium {
        margin-bottom: var(--bottom-height-pc);
      }
    }
  }
}
