.profile-images-container {
  background-color: var(--switch-bg);
  padding: 12px;
  border-radius: 8px;
  flex-direction: column;
  gap: 24px;

  .profile-images-header {
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }

  .profile-image-card {
    width: calc((100% - 6px * (6 - 1)) / 6);
    border-radius: 6px;
    aspect-ratio: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    .image-card-preview {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    .image-card-options {
      position: absolute;
      top: 6px;
      right: 6px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 28px;
      height: 28px;
      align-items: center;
      justify-content: center;
      border-radius: 99px;
    }
  }
}
